<!--<app-edu-session  [educationSession]="current_edu_session"></app-edu-session>-->
<mat-card class="scenario">
  <mat-card-content>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <main class="mdl-layout__content">
        <div class="site-content">
          <div class="container">
            <div class="mdl-card__supporting-text">
            Session {{edu_session_index + 1}} of {{education.eduSession.length}}
            </div>
            <app-edu-session [current_edu_session]="current_edu_session"></app-edu-session>
          </div>
        </div>
      </main>
    </div>
    <a id="contact-button" (click)="allDone()" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-shadow--4dp">
      <i class="material-icons">navigate_next</i>
    </a>
  </mat-card-content>
</mat-card>
