@import '~@angular/material/theming';
@import '../../mindtrails_material';
@include mindtrails-theme($mindtrails-theme);

span.material-icons {
  display: inline-block;
  background-color: mat-color($mindtrails-primary, A100);
  color: mat-color($mindtrails-primary, 600);
  border-radius: 35px;
  font-size: 3rem;
  text-align: center;
  vertical-align: middle;
  padding: 12px;
  margin: 12px;
}

.thought {
  background-color: mat-color($mindtrails-primary, A100);
  color: mat-contrast($mindtrails-primary, A100);
  font-size: large;
  padding: 3%;
  line-height: normal;
  border-radius: 15px;
}

.continue {
  margin: 3%;
}
