<h1>{{ thoughtBubble.title }} </h1>

<div *ngIf="currentState==='thought'" fxLayout="row" fxLayoutAlign="auto center" fxLayoutWrap fxLayoutGap="10px">
  <span class="material-icons">person</span>
  <div class="thought">{{thoughtBubble.thought}}</div>
</div>

<div *ngIf="currentState==='followup'">
  <div fxLayout="row" fxLayoutAlign="auto center" fxLayoutWrap fxLayoutGap="10px">
    <span class="material-icons">person</span>
    <div class="thought">{{thoughtBubble.thought}}</div>
  </div>
  <div
    *ngFor="let text of thoughtBubble.followup"
    class="follow-up"
  >
    <p>{{ text }}</p>
  </div>
</div>

<div fxLayoutAlign="center">
  <button class="continue" *ngIf="continueButtonVisible()" mat-raised-button (click)="progressState()">Continue</button>
</div>
