<div class="session-menu">
<div
  class="session-row"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayout.sm="column"
  fxLayoutAlign="space-evenly"
  fxLayoutWrap
  fxLayoutGap="10px"
  fxLayoutGap.xs="10px"
>
  <div
    *ngFor="let session of sessions"
    [class]="session.title === currentSession.title ? 'selected-card' : 'session-card'"
    fxLayoutWrap
    fxLayoutGap="20px"
    fxLayoutGap.xs="20px"
    >
    <div>
      <!--
      <span *ngIf="session.title === currentSession.title" class="material-icons">
        explore
      </span>
      -->
       {{session.title}}
    </div>
  </div>
</div>
</div>
