<div
  class="session-row"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayout.sm="column"
  fxLayoutAlign="space-evenly"
  fxLayoutWrap
  fxLayoutGap="20px"
  fxLayoutGap.xs="20px"
>
  <div
    *ngFor="let session of sessions"
    class="session-card"
    fxLayoutWrap
    fxLayoutGap="20px"
    fxLayoutGap.xs="20px"
    >
    <div>
      {{session.title}}
    </div>
    <div
      fxLayoutAlign="center"
      fxLayoutAlign.sm="end"
      fxLayoutAlign.xs="end"
    >
      <span
        *ngIf="session.title === currentSession.title"
        class="material-icons"
      >
        explore
      </span>
    </div>
  </div>
</div>
