@import '../../mindtrails_material';
@include mindtrails-theme($mindtrails-theme);

.session-row {
  background-color: mat-color($mindtrails-accent, 50);
}

.session-card {
  background-color: mat-color($mindtrails-accent, 200);
  counter-reset: mat-color($mindtrails-accent, 700);
  font-weight: bolder;
  padding: 2%;
  max-width: 15%;
  margin: 2%;
}
