<div *ngFor="let el of page.elements">
  <h1 *ngIf="el.type === 'LargeHeader'">{{el.content}}</h1>
  <h2 *ngIf="el.type === 'Header'">{{el.content}}</h2>
  <p *ngIf="el.type === 'Paragraph'">{{el.content}}</p>
  <div *ngIf="el.type === 'Caption'"fxLayoutAlign="center"><p  class="caption">{{el.content}}</p></div>
  <div *ngIf="el.type === 'References'">
    <span *ngFor="let text of el.content">
      <p class="reference">{{ text }}</p>
    </span>
  </div>
  <img class="pageImage" *ngIf="el.type === 'Image'" [src]="el.content">
  <app-highlight *ngIf="el.type === 'Highlight'" [highlight]="el" (done)="divCompleted()"></app-highlight>
  <app-bullet-list *ngIf="el.type === 'BulletList'" [bulletList]="el" (done)="divCompleted()"></app-bullet-list>
  <app-question
    *ngIf="el.type === 'Question'"
    [question]="el"
    (initialResponse)="getResponseDetails($event)"
    (buttonPressed)="getResponseDetails($event)"
    (done)="divCompleted($event)"
    [@flyUpDown]="'in'"
  ></app-question>
  <app-thoughtbubble
    *ngIf="el.type === 'ThoughtBubble'"
    [thoughtBubble]="el"
    (initialResponse)="getResponseDetails($event)"
    (done)="divCompleted()">
  </app-thoughtbubble>

  <div *ngIf="el.type==='Intro' || el.type==='Statements' || el.type==='MissingLetter'" class="scenario">
    <div *ngIf="el.type==='Intro'" class="title" [@titleState]="el.type" >{{el.content}}</div>
    <div *ngIf="el.type==='Statements'" class="statement" [@flyUpDown]="'in'">
      <mat-card class="statement"><app-statement [statement]="el.content" (doneTyping)="divCompleted()"></app-statement></mat-card>
    </div>
    <div *ngIf="el.type==='MissingLetter'" class="letters" [@flyUpDown]="'in'">
      <app-missing-letter
        [missingLetter]="el"
        (initialResponse)="getResponseDetails($event)"
        (buttonPressed)="getResponseDetails($event)"
        (done)="divCompleted($event)"
      ></app-missing-letter>
    </div>
  </div>

</div>
