<div *ngFor="let el of page.elements">
  <div class="mdl-card__title" *ngIf=" el.type==='Header'">{{el.content}}</div>
  <div class="mdl-card__supporting-text" *ngIf="el.type==='Paragraph' ">{{el.content}}</div>
  <div class="mdl-card__supporting-text" *ngIf="el.type==='References' ">
    <div *ngFor="let ref of el.content ">
      <i>{{ref}}</i>
    </div>
  </div>
  <img *ngIf="el.type==='Image' " [src]="el.content ">
  <app-question *ngIf="el.type==='Question' " [question]="el " (done)="divCompleted() "></app-question>
  <app-thoughtbubble *ngIf="el.type==='ThoughtBubble' " [thoughtBubble]="el " (done)="divCompleted() "></app-thoughtbubble>
  <app-highlight *ngIf="el.type==='Highlight'" [highlight]="el" (done)="divCompleted()"></app-highlight>
</div>