@import '~@angular/material/theming';
@import '../../mindtrails_material';
@include mindtrails-theme($mindtrails-theme);

div {
  padding: 0px;
}

.reference {
  font-size: smaller;
  font-style: italic;
  color: #666;
  margin: 0;
}

.caption {
  text-align: center;
  font-style: italic;
  max-width: 50%;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin:auto;
}

img.body{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  font-weight: 700;
}

.pageImage {
  float: right;
  margin-left: 20px;
}
br.clear {
  clear: both;
}

div.scenario {
  position: relative;

  div.title {
    position: absolute;
    max-width: 80px;
    top: 0px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px #000;
    background: rgba(1,1,1,0.2);
    border-radius: 6px;
  }

  mat-card.statement {
    margin: 10px;
    border-radius: 10px;
    max-width: 90%;
    padding-left: 10%;
    background: mat-color($mindtrails-primary, A700); /* Old browsers */
    background: -moz-linear-gradient(left, mat-color($mindtrails-primary, A700) 6%, mat-color($mindtrails-primary, A700) 6%, mat-color($mindtrails-primary, A100, .35) 6%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, mat-color($mindtrails-primary, A700) 6%, mat-color($mindtrails-primary, A700) 6%, mat-color($mindtrails-primary, A100, .35) 6%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, mat-color($mindtrails-primary, A700) 6%, mat-color($mindtrails-primary, A700) 6%, mat-color($mindtrails-primary, A100, .35) 6%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#178dcd', endColorstr='#e5e7ee', GradientType=1); /* IE6-9 */
  }
}



