<div *ngFor="let el of visibleElements">
  <h1 *ngIf="el.type === 'LargeHeader'">{{el.content}}</h1>
  <h2 *ngIf="el.type === 'Header'">{{el.content}}</h2>
  <p *ngIf="el.type === 'Paragraph'">{{el.content}}</p>
  <div *ngIf="el.type === 'References'">
    <span *ngFor="let text of el.content">
      <p class="reference">{{ text }}</p>
    </span>
  </div>
  <div class="pageImage" *ngIf="el.type === 'Image'">
    <img  [src]="el.content">
    <p fxLayoutAlign="center" class="caption">{{el.caption}}</p>
  </div>
  <app-highlight *ngIf="el.type === 'Highlight'" [highlight]="el" (done)="divCompleted()"></app-highlight>
  <app-bullet-list *ngIf="el.type === 'BulletList'" [bulletList]="el" (done)="divCompleted()"></app-bullet-list>
  <app-question
    *ngIf="el.type === 'Question'"
    [question]="el"
    (event)="handleElementEvent($event)"
    (done)="divCompleted($event)"
    [@flyUpDown]="'in'"
  ></app-question>
  <app-thoughtbubble
    *ngIf="el.type === 'ThoughtBubble'"
    [thoughtBubble]="el"
    (event)="handleElementEvent($event)"
    (done)="divCompleted()">
  </app-thoughtbubble>

  <div *ngIf="el.type==='Intro' || el.type==='Statements' || el.type==='MissingLetter' || el.type==='FillInBlank'" class="scenario">
    <div *ngIf="el.type==='Intro'" ngClass="" class="title" [@titleState]="el.type" >{{el.content}}</div>
    <div *ngIf="el.type==='Statements'" class="statement" [@flyUpDown]="'in'">
      <mat-card class="statement"><app-statement [statement]="el.content" (doneTyping)="divCompleted()"></app-statement></mat-card>
    </div>
    <div *ngIf="el.type==='MissingLetter'" class="letters" [@flyUpDown]="'in'">
      <app-missing-letter
        [missingLetter]="el"
        (event)="handleElementEvent($event)"
        (done)="divCompleted($event)"
      ></app-missing-letter>
    </div>
    <div *ngIf="el.type==='FillInBlank'" class="letters" [@flyUpDown]="'in'">
      <app-fill-in-the-blank
        (event)="handleElementEvent($event)"
        (done)="divCompleted($event)"
      ></app-fill-in-the-blank>
    </div>
  </div>
</div>
<br class="clear"/>
