<div>
  <app-session *ngIf="state === states.INTRO && currentSession"
               [session]="currentSession"
               [sessions]="sessions"
               [sessionIndex]="sessionIndex"
               (done)="introComplete()"
  ></app-session>
  <mat-card *ngIf="state === states.RR && currentScenario" class="recognitionRatings">
    <mat-card-content>
      <div class="story-header">
        <mat-icon svgIcon="recognitionRatings"></mat-icon>
       <span i18n>Story</span> {{scenarioIndex+ 1}} <span i18n>of</span> {{9}}</div>
      <app-scenario
        *ngIf="currentScenario"
        [session]="currentSession"
        [sessionIndex]="study.currentSession.index"
        [isStory]=true
        [scenario]="currentScenario"
        [scenarioIndex]="scenarioIndex"
        [stepIndex]="scenarioIndex"
        [pageCount]="pageCount"
        (finalCount)="updatePageCount($event)"
        (done)="scenarioComplete($event)"
      ></app-scenario>
    </mat-card-content>
  </mat-card>
</div>

