<!-- formatting -->
<div style="text-align:center">
  <div flex="" layout="row" layout-align="center center">
<div class="summary" *ngIf="ready">
      <div class="text" layout-align="center">
        <!-- Here is how you could stuff values into sentence form -->
        <h2 class="mat-h2">&#10003; &nbsp;ROUND 1 of 4: COMPLETE!</h2>
        <br>
        <h5>Your score for this round is:</h5>

        <ngx-gauge [type]="'full'"
                   [size]="250"
                   [value]="round.numCorrect()"
                   [max]="10"
                   [append]="'/ 10'"
                   [duration]="500"
                   [thick]="25">
        </ngx-gauge>

        <!-- conditional sections, based on percentage correct -->
        <h5 *ngIf='round.numCorrect() > 0 && round.numCorrect() <= 6.5'>Remember to pay really close attention to the whole story each time — including how it ends — and to use the information in the story to answer the question.</h5>
        <h5 *ngIf='round.numCorrect() >= 7 && round.numCorrect() <= 8'>Good work! We encourage you to pay really close attention to the stories.</h5>
        <h5 *ngIf='round.numCorrect() >= 9'>Excellent work, keep it up!</h5>
      </div>
      <div class="spacer"></div>
    </div>
</div>
</div>
