<!-- formatting -->
    <div class="summary" *ngIf="ready">
      <div class="text">
        <!-- Here is how you could stuff values into sentence form -->
        <p>You got {{round.roundScore()}} correct out of {{round.scenarios.length}}.</p>

        <ngx-gauge [type]="'arch'"
                   [value]="round.roundScore()">
        </ngx-gauge>

        <!-- conditional sections, based on percentage correct -->
        <p *ngIf='round.roundScore() > 0 && round.roundScore() < 5'>You are terrible. Your mother was a hampster and your father smelt of eldeberries.</p>
        <p *ngIf='round.roundScore() >= 5 && round.roundScore() <= 8'>Pitiful. And no, I'm not insulting you, I'm describing you.</p>
        <p *ngIf='round.roundScore() > 8'>Guess your doing ok, finally.  We'll see if it lasts.</p>
      </div>
      <div class="spacer"></div>
    </div>
