<mat-card class="scenario">
  <mat-card-content>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <main class="mdl-layout__content">
        <div class="site-content">
          <div class="container">

            <section class="section--center mdl-grid site-max-width">
              <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--9-col-tablet mdl-cell--7-col-phone  mdl-shadow--4dp">
                <div class="mdl-card__title mdl-card--border">
                  <h1 class="mdl-card__title-text">{{intro.title}}</h1>
                </div>
                <app-div *ngFor="let div of intro.introBody" [div]="div" (done)="updateDivIndex()"></app-div>
              </div>
            </section>
          </div>
        </div>
      </main>
    </div>
  </mat-card-content>
</mat-card>