@import '~@angular/material/theming';

 div {
     padding: 10px;
 }

 img {
     vertical-align: middle;
 }

 .orange {
     border: 2px solid orange;
 }

 .yellow {
     border: 2px solid yellow;
 }

 .green {
     border: 2px solid green;
 }

 .blue {
     border: 2px solid blue;
 }

 .highlight {
     border-radius: 25px;
 }