@import '~@angular/material/theming';
@import '../../mindtrails_material';
@include mindtrails-theme($mindtrails-theme);

mat-icon {
  flex: 1 1 auto;
  width: 50px;
  height: 50px;
  background-color: mat-color($mindtrails-primary, A100);
  color: mat-color($mindtrails-primary, 700);
  border-radius: 35px;
  font-size: 3rem;
  text-align: center;
  vertical-align: middle;
  padding: 12px;
  margin: 12px;
}

.highlight {
  border: 3px solid mat-color($mindtrails-primary, A700);
  border-radius: 20px;
}

div {
  padding: 10px;
}
