<!-- formatting -->
<div class="summary" *ngIf="ready()">
    <!-- Here is how you could stuff values into sentence form -->
    <!--
    <p>You got {{round.numCorrect()}} correct out of {{round.scenarios.length}}.</p>
    <p>You got {{round.percentCorrect() | percent}} of the ansers correct.</p>
    -->

    <div class="header">
      <h1>{{session.title}}: Complete!</h1>
      <p>You have completed all rounds in the session. You received the following score in each round:</p>
    </div>
    <div class="rounds"
         fxLayout="row wrap"
         fxLayoutAlign="center"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">
        <div class="round" *ngFor="let round of rounds; index as i">
          <div class="roundHeader">Round {{i+1}}</div>
          <ngx-gauge [type]="'full'"
                     [min]="0"
                     [max]="2"
                     [value]="round.roundScore()"
                     [label]=""
                     [style]="'round'"
                     [size]="80"
                     [thick]="10"
                     [foregroundColor]="'#39bbf1'"
                     [append]="''">
          </ngx-gauge>
        </div>
    </div>
  <div class="finalScore"
       fxLayout="row wrap"
       fxLayoutAlign="center center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0"
       *ngIf="totalScore > 0">

    <ngx-gauge [type]="'full'"
               [min]="0"
               [max]="rounds.length * scenariosPerRound"
               [value]="totalScore"
               [label]=""
               [style]="'round'"
               [size]="200"
               [thick]="20"
               [foregroundColor]="'rgba(0, 0, 136, 1)'"
               [append]="'/' + 8">
    </ngx-gauge>
    <br/>
    <br/>
    <div class="description">
      <div class="scoreHeader">Your total score for this session is {{totalScore}} out of {{rounds.length * scenariosPerRound}}.</div>
    <p *ngIf="totalScore >= (0.8 * 8)">
      This is terrific, and shows you’re paying careful attention to the stories! Keep it up, as
      this can help you to get the most out of the training.
    </p>
    <p *ngIf="totalScore >= (0.4 * 8) && totalScore < (0.8 * 8)">
    You’re doing well! We encourage you to pay close attention to the stories to figure
    out the missing letters to complete the final words and answer the questions. We
    think that the more carefully you attend to the stories and really imagine yourself in
    them, the more you will get out of the training.
    </p>
    <p *ngIf="totalScore < (0.4 * 8)">
    We want to encourage you to pay really close attention to the whole story each time,
    including how it ends, and to use the information in the story to answer the question.
    We think this will help you get the most out of the training. If any aspect of the task is
    unclear, please email us with any questions at studyteam@mindtrails.org.
    </p>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <div class="hack-spacer"></div>
</div>
