

div.header {
  margin: auto;
  text-align: center;
  padding: 20px 0 5px 0;
}

div.rounds {
  margin: 0 0 20px 0;
}

h2, .roundHeader {
  margin:auto;
  text-align: center;
}

div.roundHeader {
  font-weight: 500;
}

div.scoreHeader {
  font-weight: 800;
  font-size: large;
  padding: 20px 0 0 0;
}

div.description {
  padding: 10px;
  max-width: 400px;
}

div.hack-spacer {
  height: 50px;
  width: 100%;
}

.gauge {
  line-height:40px;
}
