@import '../../mindtrails_material';
@include mindtrails-theme($mindtrails-theme);

#question {
  margin: auto;

  h2 {
    text-align: center;
  }

  span.material-icons {
    display: inline-block;
    background-color: mat-color($mindtrails-primary, A100);
    color: mat-color($mindtrails-primary, 600);
    border-radius: 35px;
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
    padding: 12px;
    margin: 12px;
  }

  div.correct {
    padding: 20px;
    margin: auto;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
    color: mat-color($mindtrails-accent, A700);
    background-color: mat-color($mindtrails-accent, A100);
    border-radius: 20px;
  }

  form .statement {
    display:block;
    font-size: 14px;
    font-weight: bold;
    padding: 30px 0 0 4.25%;
    margin-bottom:10px;
  }

  .answer{
    font-weight: bolder;
    color: mat-color($mindtrails-accent, A700);
    background-color: mat-color($mindtrails-accent, A100);
    border-radius: 20px;
    padding: 5%;
  }
}
