<div id="question">

  <div class="question" fxLayout="row" fxLayoutAlign="auto center" fxLayoutWrap fxLayoutGap="30px" style="padding-bottom: 30px; padding-top:30px">
    <span class="material-icons">help_outline</span>
    <span>{{question.question}}</span>
  </div>



  <div
    class="options"
    *ngIf="state==='asking'"
    fxLayout="row"
    fxLayout.xs="column"
    fxlayoutwrap.xs="20"
    fxLayoutGap="20px"
    fxLayoutAlign="center none">
    <button class="option" mat-raised-button *ngFor="let option of question.options" (click)="selected(option)">{{option}}</button>
  </div>

  <div  *ngIf="state==='asking' && question.preferNotToAnswer" class="preferNotToAnswer">
    <button i18n="prefer not to answer" class="option preferNotToAnswer" mat-raised-button
      (click)="selected('Prefer not to answer')">
      Prefer not to answer
    </button>
  </div>

  <div fxLayoutAlign="center">
    <h5 class="answer" *ngIf="userAnswer && state === 'answered'">{{userAnswer}}</h5>
  </div>

  <div *ngIf="question.answer" fxLayoutAlign="center">
    <div [hidden]="!(this.state === 'correct')" class="correct">
      <div i18n="correct" class="heading">Correct!</div>
      <div *ngIf="question.explanation" fxLayoutAlign="center">
        <p>This is {{ question.answer.toLowerCase() }}. {{ question.explanation }}</p>
      </div>
    </div>

    <div class="incorrect" [hidden]="!(this.state === 'incorrect')" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
      fxLayoutGap.xs="0">
      <mat-progress-bar value="{{waitPercent}}"></mat-progress-bar>
      <span i18n="question response incorrect">Whoops. That wasn't the right answer. Please wait a moment and try again.</span></div>
  </div>


  <!--
  <div *ngIf="question.type === 'any'">
    <div class="correct" [hidden]="!displayNextMessage()">Next question coming up...</div>
    <div class="correct" [hidden]="!displayThankYouMessage()">Thank you for providing your answers.</div>
  </div>
  -->

</div>
