.main {
  margin: 0px;
  min-height: 800px;
}

.btn {
  position: relative;
  display: block;
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  width: auto;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color .3s;
}

.btn.red {
  background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}


mat-toolbar {
  height: 135px;
  background: url("../assets/images/header-logo.png") no-repeat left top, linear-gradient(#191C4A, #2C336A);
  border-bottom: 5px solid #33BEF2;

  .spacer {
    flex: 1 1 auto;
  }

}

mat-toolbar-row {
  max-width: 982px;
  margin: auto;
}

.menu {
  align:right;
  margin-right: 20px;
}


