<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <mat-toolbar class="mat-toolbar">
    <mat-toolbar-row fxLayout="row wrap" fxLayoutAlign="space-around center" class="logo">
    </mat-toolbar-row>
  </mat-toolbar>
<div *ngIf="!introComplete">
  <app-intro *ngIf="intro" [intro]="intro" (done)="nextSession()"></app-intro>
</div>
<div *ngIf="introComplete">
  <app-session *ngIf="session" [session]="session" (done)="sessionComplete = true"></app-session>
</div>
<button class="continue" *ngIf="nextSessionButtonVisible()" mat-raised-button (click)="nextSession()">Begin Session </button>
