<div class="fill-in-the-blank">
  <div fxLayout="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
  >
    <mat-form-field>
      <input *ngIf="fillInBlank.maxCharacters <= 100" matInput placeholder="{{fillInBlank.placeholder}}" [formControl]="word" [errorStateMatcher]="matcher">
      <textarea *ngIf="fillInBlank.maxCharacters > 100" matInput placeholder="{{fillInBlank.placeholder}}" [formControl]="word" [errorStateMatcher]="matcher">
      </textarea>
      <mat-error *ngIf="word.hasError('minlength') && !word.hasError('required')">
        Please enter at least {{minCharacters}} characters.
      </mat-error>
      <mat-error *ngIf="word.hasError('required')">
        You must enter a value
      </mat-error>
      <mat-error *ngIf="word.hasError('isWord') && !word.hasError('minlength') && !word.hasError('required')">
        This does not look like a word
      </mat-error>
      <mat-error *ngIf="word.hasError('maxlength')">
        Please shorten your response
      </mat-error>
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!word.valid || completed"
    (click)="submitWord(word.value)"
  >
    Submit
  </button>
</div>
