
div.fill-in-the-blank {
  margin: 20px 0px;
  padding: 20px 0px;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;

  mat-form-field {
    font-size: x-large;
    width: 100%;
  }

}
