@import '../../mindtrails_material';
@include mindtrails-theme($mindtrails-theme);

.step-row {
  margin-top: 2%;
  background-color: mat-color($mindtrails-accent, 600);
  padding: 2%;
}

.session-title h1 {
  background-color: mat-color($mindtrails-accent, 600);
  color: mat-contrast($mindtrails-accent, 600);
  font-weight: bolder;
}

.step-card {
  background-color: mat-color($mindtrails-accent, 400);
  color: mat-contrast($mindtrails-accent, 400);
  font-weight: bolder;
  margin: 2%;
  padding: 2%;
}

span.material-icons {
  display: inline-block;
  background-color: mat-color($mindtrails-accent, 100);
  color: mat-color($mindtrails-accent, 700);
  border-radius: 35px;
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
  padding: 6px;
  margin: 6px;
}
