<div
  class="step-row"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign="space-evenly"
  fxLayoutWrap
  fxLayoutGap="20px"
  fxLayoutGap.xs="20px"
>
  <div class="session-title">
    <h1>{{currentSession.title}}</h1>
  </div>
  <div
    *ngFor="let step of steps"
    class="step-card"
    fxLayoutWrap
    fxLayoutGap="20px"
    fxLayoutGap.xs="20px"
  >
    <div>
      {{step.title}}
    </div>
    <div fxLayoutAlign="center">
      <span
        *ngIf="step.title === currentStep.title"
        class="material-icons"
      >
        explore
      </span>
    </div>
  </div>
</div>
