img.indicator{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  section{
    div {
      padding: 10px;
    }
  }
.button-row{
  margin: 20px auto;
}
