<section class="section">
  <div>
    <div>
      <h3>{{ step.title }}</h3>
    </div>
    <app-page *ngIf="currentPage" [page]="currentPage" (done)="pageCompleted()"></app-page>
    <div
      class="button-row"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutWrap
      fxLayoutGap="1em"
      fxLayoutAlign="space-between"
      *ngIf="(done)"
    >
      <button
        class="continue"
        mat-raised-button
        color="primary"
        [disabled]="!prevPageButtonVisible()"
        (click)="prevPage()"
      >
      Previous
      </button>
      <button
        class="continue"
        mat-raised-button
        color="primary"
        [disabled]="!nextPageButtonVisible()"
        (click)="nextPage()"
      >
      Next
      </button>
    </div>
  </div>
</section>
