<section class="section">
  <div>
    <div *ngIf="step.stepIndicator">
      <img class="indicator" src="{{ step.stepIndicator }}" alt="Step {{ step.title }}" />
    </div>
    <div>
      <h3>{{ step.title }}</h3>
    </div>
    <app-page *ngIf="currentPage" [page]="currentPage" (done)="pageCompleted()"></app-page>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutWrap
      fxLayoutGap="1em"
      fxLayoutAlign="center"
    >
      <button
        class="continue"
        mat-raised-button
        [disabled]="!prevPageButtonVisible()"
        (click)="prevPage()"
      >
      Previous
      </button>
      <button
        class="continue"
        mat-raised-button
        [disabled]="!nextPageButtonVisible()"
        (click)="nextPage()"
      >
      Next
      </button>
    </div>
  </div>
</section>
