<section class="section">
  <div>
    <h1 *ngIf="(stepIndex <= 0 && pageIndex <= 1)">{{ step.title }}</h1>
    <app-page *ngIf="currentPage" [page]="currentPage" (done)="pageCompleted($event)" (event)="recordElementEvent($event)"></app-page>
    <div
      class="button-row"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutWrap
      fxLayoutGap="1em"
      fxLayoutAlign="space-between"
      *ngIf="(done)"
    >
      <button
        class="continue"
        mat-raised-button
        color="primary"
        [disabled]="!prevPageButtonVisible()"
        (click)="prevPage()"
      >
      Previous
      </button>
      <button
        class="continue"
        mat-raised-button
        color="primary"
        [disabled]="!nextPageButtonVisible()"
        (click)="nextPage()"
      >
      Next
      </button>
    </div>
  </div>
</section>
