<p fxLayoutAlign="center">{{slider.content}}</p>
  <div class="row" (click)="enableSlider()" >
    <div class="slider">
      <input id="clearSlider" [class]="sliderStyle()" type="range" min="0" max="100" (input)="updateValue($event)" [value]="value" [disabled]="preferNotToAnswer" >
    </div>
  </div>
  <div class="slider-row">
    <div i18n="slider no anxiety" class="left">Absolutely no anxiety</div>
    <div i18n="slider totally anxious" class="right">Totally anxious</div>
  </div>

  <div class="after_slider"><label i18n="prefer not to answer" class="standard">
    <br>
    <input  id="sliderEnabled" type="checkbox" value="555" [checked]="preferNotToAnswer"
    (change)="togglePreferNotToAnswer($event)"/>
    Prefer not to answer
  </label></div>
