<app-session *ngIf="currentSession && !sessionDone" [session]="currentSession" [sessions]="sessions" (done)="sessionComplete()"></app-session>
<div *ngIf="sessionDone && introSession()">
  <mat-card>
    <h1>Let's begin!</h1>
    <button mat-raised-button *ngIf="introSession()" (click)="goSession1()">Continue to Session 1</button>
  </mat-card>
</div>
<div *ngIf="sessionDone && !allDone && !introSession()">
  <mat-card>
    <h1>Well Done!</h1>
    <h5>Great job with <i>{{currentSession.title}}: {{currentSession.subTitle}}</i>.</h5>
    <button *ngIf="sessionDone" class="continue"  mat-raised-button (click)="close()">Continue</button>
  </mat-card>
</div>
<div *ngIf="allDone">
  <mat-card>
    <h1>Congratulations!</h1>
    <h5>You have completed all of the sessions about anxiety!</h5>
  </mat-card>
</div>
