<!-- <app-session-warning *ngIf="connectionError"></app-session-warning> -->
<app-session *ngIf="currentSession && !sessionDone" [session]="currentSession" [sessions]="sessions" [sessionIndex]="sessionIndex" (done)="sessionComplete()"></app-session>
<div *ngIf="sessionDone">
  <mat-card>
    <h1>Module Complete!</h1>
    <h6>You have completed the <i>{{currentSession.subTitle}}</i> section. Well done!</h6>
    <br>
    <br>
    <br>
    <button *ngIf="sessionDone" class="continue"  mat-raised-button (click)="close()">Continue</button>
  </mat-card>
</div>
