<div *ngIf="ready()">
  <app-session *ngIf="state === states.INTRO"
  [session]="currentSession"
  [sessions]="indicatorSessions"
  [sessionIndex]="sessionIndex"
  (finalPageCount)="stepPageCount($event)"
  (done)="introComplete()"
  (showIndicator)="true"
></app-session>
  <mat-card class="readiness" *ngIf="state === states.LEMON">
    <mat-card-content>
      <app-step
        [session]="currentSession"
        [step]="lemonExercise[0].steps[0]"
        [stepIndex]="this.stepIndex"
        [sessionIndex]="this.sessionIndex"
        [previousEnabled]="false"
        (done)="lemonComplete()"
      ></app-step>
    </mat-card-content>
  </mat-card>
  <mat-card class="readiness" *ngIf="state === states.CREATE">
    <mat-card-content>
      <app-step
        [session]="currentSession"
        [step]="createScenario[0].steps[0]"
        [stepIndex]="this.stepIndex"
        [sessionIndex]="this.sessionIndex"
        [previousEnabled]="false"
        (done)="createComplete()"
      ></app-step>
    </mat-card-content>
  </mat-card>
  <mat-card class="readiness" *ngIf="state === states.READINESS">
    <mat-card-content>
  <app-step
    [session]="currentSession"
    [step]="readinessRulers[0].steps[0]"
    [stepIndex]="this.stepIndex"
    [sessionIndex]="this.sessionIndex"
    [previousEnabled]="false"
    (done)="readinessComplete()"
  ></app-step>
    </mat-card-content>
  </mat-card>
  <mat-card class="imagery" *ngIf="state === states.IMAGERY">
    <mat-card-content>
      <app-step
        [session]="currentSession"
        [step]="imageryPrime[0].steps[0]"
        [stepIndex]="this.stepIndex"
        [sessionIndex]="this.sessionIndex"
        [previousEnabled]="false"
        (done)="imageryComplete()"
      ></app-step>
    </mat-card-content>
  </mat-card>
  <mat-card class="readiness" *ngIf="state === states.VIVIDNESS">
    <mat-card-content>
      <app-step
        [session]="currentSession"
        [step]="vividness[0].steps[0]"
        [stepIndex]="this.stepIndex"
        [sessionIndex]="this.sessionIndex"
        (done)="vividnessComplete()"
        [previousEnabled]="false"
      ></app-step>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="state === states.PSYCHOED" class="readiness" >
    <app-session [session]="psychoedSession" [sessions]="psychoed" [sessionIndex]="sessionIndex" (done)="psychoedComplete()" checkProgress="false"></app-session>
  </mat-card>
  <mat-card class="psychoedFollowup" *ngIf="state === states.PSYCHOED_FOLLOWUP">
    <mat-card-content>
      <app-step
        [session]="currentSession"
        [step]="psychoedFollowup[0].steps[0]"
        [stepIndex]="this.stepIndex"
        [sessionIndex]="this.sessionIndex"
        (done)="psychoedComplete()"
        [previousEnabled]="false"
      ></app-step>
    </mat-card-content>
  </mat-card>

 <div *ngIf="state === states.TRAINING">
  <mat-card class="training">
    <mat-card-content *ngIf="round">
        <div class="round-header">Round {{roundIndex+ 1}} of {{totalRounds}}</div>
        <div class="progress">
          <app-progress-bar [items]="round.scenarios"></app-progress-bar>
        </div>
        <app-scenario
          *ngIf="round.getScenario()"
          [scenario]="round.getScenario()"
          [scenarioIndex]="scenarioIndex"
          [session]="currentSession"
          [sessionIndex]="sessionIndex"
          [stepIndex]="stepIndex"
          [pageCount]="pageCount"
          (finalCount)="updatePageCount($event)"
          (done)="scenarioComplete($event)"
        ></app-scenario>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="state === states.SUMMARY">
  <mat-card class="training">
    <mat-card-content>
    <app-training-score [round]="round" [roundNumber]="roundIndex + 1"></app-training-score>
        <div class="spacer"></div>
        <button *ngIf="!isComplete()" class="continue"  mat-raised-button (click)="nextRound()">Start Round {{roundIndex+2}}</button>
        <button *ngIf="isComplete()" class="continue"  mat-raised-button (click)="nextRound()">Continue</button>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="state === states.FINAL_SUMMARY">
  <mat-card class="training">
    <mat-card-content>
      <app-final-score [session]="currentSession" [rounds]="rounds" [totalScore]="totalScore"></app-final-score>
      <div class="spacer"></div>
      <button class="continue"  mat-raised-button (click)="close()">Continue</button>
    </mat-card-content>
  </mat-card>
</div>
</div>

