@import '../../mindtrails_material';
@include mindtrails-theme($mindtrails-theme);

.letter {
  border: 1px solid mat-color($mindtrails-primary, 900);
  padding: 10px;
  border-radius: 8px;
  width: 15px;
  box-shadow: 2px 2px #888;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  background-color: mat-color($mindtrails-primary, A100, .35);
}

h2 {
  text-align: center;
}

div.missing {
  background-color: #fff;
  box-shadow: -1px -1px #888;
}

div.correct {
  background-color: mat-color($mindtrails-accent, A100);
  border: mat-color($mindtrails-accent, A700);
  box-shadow: -1px -1px #888;
  font-size: 1.8em;
}

div.incorrect, button.incorrect {
  background-color: mat-color($mindtrails-warn, A100);
  border: 1px solid mat-color($mindtrails-warn, A700);
  box-shadow: -1px -1px #888;
}

div.correct-message, div.incorrect-message {
  padding: 20px;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
}
div.correct-message {
  color: mat-color($mindtrails-accent, A700);
}
div.incorrect-message {
  color: mat-color($mindtrails-warn, A700);
}

div.select-a-tile {
  margin: 20px 0px;
  padding: 20px 0px;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;

  h2 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0px 0px 0px 0px;
  }

}

button.letter {
  font-size: 1.3rem;
}
