@import '~@angular/material/theming';
@import '../../mindtrails_material';
@include mindtrails-theme($mindtrails-theme);

  div.scenario {
    position: relative;
    height: 600px;

    div.display-area {
      position: absolute;
      top: 10px;
      left: 10%;
      margin:auto;
      width: 80%;
    }

    button.continue {
      position: absolute;
      bottom: 30px;
      right: 10%;
      margin:auto;
      font-size: 1.2rem;
    }

    div.image {
      padding-top:20px;
      height: 580px;
      border-radius: 0 0 25px 25px;
      background-repeat: no-repeat;
    }

    mat-card.statement {
      font-size: 1.5rem;
      margin: 10px;
      border-radius: 10px;
      max-width: 90%;
      padding-left: 10%;
      background: mat-color($mindtrails-primary, A700); /* Old browsers */
      background: -moz-linear-gradient(left, mat-color($mindtrails-primary, A700) 6%, mat-color($mindtrails-primary, A700) 6%, mat-color($mindtrails-primary, A100, .35) 6%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, mat-color($mindtrails-primary, A700) 6%, mat-color($mindtrails-primary, A700) 6%, mat-color($mindtrails-primary, A100, .35) 6%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, mat-color($mindtrails-primary, A700) 6%, mat-color($mindtrails-primary, A700) 6%, mat-color($mindtrails-primary, A100, .35) 6%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#178dcd', endColorstr='#e5e7ee', GradientType=1); /* IE6-9 */
    }

}
